<form [formGroup]="formEdit" (ngSubmit)="onEdit()" action="#" class="container">
  <h3 class="purple">Edit user {{user.email}}</h3>

  <mat-form-field color="primary" appearance="outline">
    <mat-label>Name</mat-label>
    <input
      type="text" name="name"
      formControlName="name"
      value="{{user.name}}" required
      matInput placeholder="John">
  </mat-form-field>

  <mat-form-field color="primary" appearance="outline">
    <mat-label>Surname</mat-label>
    <input
      type="text" name="surname"
      formControlName="surname"
      value="{{user.surname}}" required
      matInput placeholder="Doe">
  </mat-form-field>

  <mat-form-field color="primary" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      type="password" name="password"
      matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
      value="{{user.password}}" required
      formControlName="password"
    >
    <button type="button"  mat-icon-button matSuffix style="display: inline" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error></mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="formEdit.invalid" mat-raised-button color="primary">Edit user</button>
</form>
